#wrapper {
	display:grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: auto;
	grid-template-areas:
	"header header header" 
	"nav nav nav"
	"section section section" 
	"footer footer footer";
}


/* Start grid layout */
.box {
	border: solid 1px #000;
	padding: 0px;
}
.banner {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
	
}
header {
	grid-area: header;
	background-color: #260001;
	color: #ffffff;
}
nav {
	grid-area: nav;
	background-color: #260001;
	color: #ffffff;
	text-align: center;
}
section {
	grid-area: section;
	justify-content: center;
	text-align: center;
	background-color: #260001;
	color: #ffffff;
}
aside {
	grid-area: aside;
	background-color: #260001;
	color: #ffffff;
}
footer {
	grid-area: footer;
	background-color: #260001;
	color: #ffffff;
}

body{
	background-color: #260001;
	font-family: "Comic Neue", cursive;
  	font-weight: 400;
  	font-style: normal;
}

drop {
	grid-area: drop;
	justify-content: flex-start;
}

result {
	grid-area: result;
	overflow-wrap: break-word;
	
}
/* End grid layout */

.comic-neue-regular {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
}

a:link, a:visited {
	color: blue;
}

/* Begin dropdown menu styling */
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: inline;
}

nav li a, nav .dropbtn {
	display: inline-block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav li.dropdown {
	display: inline-block;
}

nav .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

nav .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

nav .dropdown-content a:hover {background-color: #f1f1f1;}

nav .dropdown:hover .dropdown-content {
	display: block;
}

nav li a, nav .dropbtn {
	color: #ffffff;
}

section .dropbutton {
	display: inline-block;
	vertical-align: top;
	
}

/* End dropdown menu styling */

/* Begin image grid styling */
#image_grid {
	display: inline-grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: 1fr;
	grid-gap: 15px;	
	padding: 1px;
}

#image_grid img {
    border-radius: 10px;
}
/* End image grid styling */

/* Begin hover text styling */

.hover_text_container {
	position: relative;
	width: 80%;
	height: auto;
}

.hover_text_image {
	display: block;
	width: 100%;
	height: auto;
}

.hover_text_overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #000000aa;
}

.hover_text_container:hover .hover_text_overlay {
	opacity: 1;
}

.hover_text {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

.hover_text a:link, .hover_text a:visited, .hover_text a:hover { color: #fff; }

/* End hover text styling */

/* Begin search image styling */

.search_result_image {
	width: 10%;
	height: auto;
}

.search_result {
	display: inline-grid;
	text-align: center;
	margin: 10px;
	
}

/* End search image styling */